@import "../../StyleSource/variables.scss";

.container {
    @include body();
    @include dropShadow();
    background-color: $white;
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 10px;
    gap: 15px;
    border: 1px solid rgba($color: $black, $alpha: 0.1);

    .left {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        

        div {
            display: flex;
            align-items: center;
            gap: 10px;
            
            h5 {
                @include headingSix();
                font-weight: 300;
                font-size: 12px;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        position: relative;

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                @include headingFour();
            }

            &__sub {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            svg {
                *[fill] {
                    fill: $orange;
                }
            }
        }

        .tagsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            z-index: 999;
            position: relative;

            div {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .profileContainer {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                outline: 1px solid $black;
            }
        }

        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* number of lines to show */
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .answeringUser {
            text-align: end;
        }
    }
}

@media only screen and (max-width: 700px) {
    .container {
        @include body();
        @include dropShadow();
        max-width: 300px;
        background-color: $white;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        margin-bottom: 50px;
        border: 1px solid rgba($color: $black, $alpha: 0.1);

        .left {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 0;
            padding: 10px 0;
            border-bottom: 1px solid $black;
        }

        .right {
            gap: 15px;

            .heading {
                .heading__sub {
                    display: none;
                }
            }

            .answeringUser {
                text-align: start;
            }
        }
    }
}


@media only screen and (max-width: 700px) {
    .container {
        @include body();
        @include dropShadow();
        max-width: 300px;
        background-color: $white;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        margin-bottom: 50px;
        border: 1px solid rgba($color: $black, $alpha: 0.1);

        .left {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 0;
            padding: 10px 0;
            border-bottom: 1px solid $black;
        }

        .right {
            gap: 15px;

            .heading {
                .heading__sub {
                    display: none;
                }
            }

            .answeringUser {
                text-align: start;
            }
        }
    }
}