@import "../../StyleSource/variables.scss";

.container {
    display: flex;
    flex: 1;
    height: fit-content;

    .headingCon {
        width: 100%;
        padding-left: 1%;

        h4 {
            @include headingFour();
        }
    
        h1 {
            @include Title();
            color: $orange;
            margin-top: .5em;
            text-align: center;
            width: 100%;
        }
    }
}