@import "../../StyleSource/variables.scss";


.container{
    background-color: rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .body{
        width: 50%;
        aspect-ratio: 16/9;
        background-color: white;
        @include dropShadow();
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        .imageContainer{
            width: 100%;
            height: 60%;
            background-image: url("../../Assets/openL.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        h3, p{
            width: 100%;
            text-align: center;
        }


    }
}