@import "../../StyleSource/variables.scss";

@import "../../StyleSource/variables.scss";

.modalContainer {
    width: 1250vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.374);
    position: fixed;
    z-index: +99999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modalBody {
        background-color: $white;
        width: fit-content;
        max-width: 50%;
        height: fit-content;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        border: 1px solid rgba($color: $black, $alpha: 0.1);
        @include dropShadow();
        justify-content: center;
        align-items: center;

        img {
            max-height: 220px;
        }

        h3 {
            @include headingThree();
            text-align: center;
        }

        h6 {
            width: 70%;
            @include headingSix();
            font-weight: 500;
            text-align: center;
        }

        .buttonContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            padding: 20px;  
        }
    }
}