@import "../../StyleSource/variables.scss";

.container {
    @include dropShadow();
    padding: 5px;
    max-width: 150px;
    min-width: 150px;
    width: fit-content;
    border: 1px solid rgba($color: $black, $alpha: 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    height: fit-content;

    &__image {
        width: 60px;
        height: 60px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__badgeTitle {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        position: relative;
        width: 100%;

        p {
            font-weight: 400;
            padding: 5px;
            background-color: white;
        }
    }
}