@import "../../StyleSource/variables.scss";

.AdContainer{
    @include dropShadow();
    width: 100%;
    width: fit-content;
    padding: 0;

    .adsbygoogle{
        position: relative;
        z-index: +9999;
    }
}