@import "../../StyleSource/variables.scss";

.container {
   display: flex;
   flex: 1;

   .middle {
    flex: 1;
    padding-top: 15px;
    padding-left: 20px;

    h3{
        @include headingThree();
    }

    .flaggedContainer, .tagOverview{
        padding-top: 15px;
        padding-bottom: 15px;
        flex: 1;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .noFlags{
            @include smallText();
            color: grey;
            margin-top: 225vh;
            margin-bottom: 5vh;
        }
    }

    .innerCon{
        display: flex;
 
        justify-content: space-evenly;

        .addAdmin, .addTag{
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
   }
}