@import "../../StyleSource/variables.scss";

.outer {
    display: flex;
    flex: 1;

    .container {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex: 1;

        .left,
        .right {
            padding: 20px;
            flex: 1;
            
            h4 {
                @include headingFour();
                margin-bottom: 4vh;
            }
        }
    }
}